* {
    padding: 2px;
    margin: 0px;
}

body {
    text-transform: uppercase;
    /* align-items: center; */
    font-family: 'Roboto', sans-serif;

}


.title {

    color: bisque;
    margin-bottom: 50px;

}


.iphone-cover {
    width: 350px;
    height: 730px;
    background-color: #000000;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    border: 5px solid rgb(151, 183, 187);
    padding: 5px;
    animation: rainbow-border 10s linear infinite;
}


.calculator {
    margin-top: 20px;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;

}

#result {
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}

.keypad {
    cursor: pointer;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.keypad :hover {
    cursor: pointer;
    font-size: 20px;

}



button {
    width: 100%;
    height: 40px;
    font-size: 18px;
}


@keyframes rainbow-border {
    0% {
        border-color: red;
    }

    10% {
        border-color: orange;
    }

    20% {
        border-color: yellow;
    }

    30% {
        border-color: green;
    }

    40% {
        border-color: blue;
    }

    50% {
        border-color: indigo;
    }

    60% {
        border-color: violet;
    }

    70% {
        border-color: purple;
    }

    80% {
        border-color: pink;
    }

    90% {
        border-color: cyan;
    }

    100% {
        border-color: red;
    }
}

@media screen and (max-width: 414px) {

    .iphone-cover {

        width: auto;
        height: 868px;
    }
}

@media screen and (max-width: 912px) {

    .iphone-cover {
        padding-top: 10px;
        width: auto;
        /* height: 1335px; */
    }
}



@media screen and (max-width: 1280px) {

    .iphone-cover {

        width: auto;
    }

}